table {
  border-collapse: collapse;
  background-color: white;
  margin: auto;
  min-width: 300px;
  max-width: 500px;
}

tr {
  border-bottom: 2px solid rgb(236, 236, 236);
}

td {
  padding: 4px;
  border-style: none 2px;
  text-align: center;
}

.timezonetd {
  width: fit-content;
  white-space: nowrap;
  font-size: smaller;
}

.clubnametd {
  display: flex;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
}

.table__reddit__button {
  padding: 2px 3px 0px 3px;
  font-family: monospace;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 51, 68);
  font-weight: 600;
  border: none;
  border-radius: 5px;
}
