.dashboard__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard__header {
  display: flex;
  justify-content: flex-end;
}

.signout__button {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin: 20px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  background: #f32c52;
  border-radius: 5px;
  border: none;
}
