.GK {
  font-weight: 600;
  color: #d13913;
}

.RB,
.CB,
.LB {
  font-weight: 600;
  color: #e77e23;
}

.CDM,
.CM,
.CAM {
  font-weight: 600;
  color: #4caf50;
}

.RW,
.ST,
.LW {
  font-weight: 600;
  color: #669eff;
}

.usernametd {
  width: 100%;
}

.remove__player__button {
  padding: 4px;
  background-color: rgb(194, 21, 36);
  color: white;
  border: none;
  border-radius: 5px;
}

.make__manager__button {
  padding: 4px;
  background-color: rgb(27, 65, 236);
  color: white;
  border: none;
  border-radius: 5px;
}
