.nav__container {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 110px;
}

.legend {
  display: flex;
  padding-left: 10px;
  padding-bottom: 6px;
  justify-content: center;
}

.search__container {
  display: block;
  height: 2000px;
  overflow: auto;
}

.search__filters__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

.search__select {
  margin-right: 6px;
  margin-top: 10px;
  padding: 4px;
}
